In [241]:
import pandas as pd

In [242]:
Car_raw = pd.read_csv("/home/piai/2~5주차/2. Big Data 분석/Car.csv")

In [243]:
Car_raw

,Name,Location,Price,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,Maruti Wagon R LXI CNG,Mumbai,2682.68,2010,72000,CNG,Manual,First,26.6 kmpl,998 CC,58.16 bhp,5.0,NaN
1,Hyundai Creta 1.6 CRDi SX Option,Pune,19162.00,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN
2,Honda Jazz V,Chennai,6898.32,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh
3,Maruti Ertiga VDI,Chennai,9197.76,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,27194.71,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,Volkswagen Vento Diesel Trendline,Hyderabad,NaN,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN
7249,Volkswagen Polo GT TSI,Mumbai,NaN,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN
7250,Nissan Micra Diesel XV,Kolkata,NaN,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
7251,Volkswagen Polo GT TSI,Pune,NaN,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN
7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,NaN,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN

In [244]:
Car_raw['Power'] = Car_raw['Power'].replace('null bhp', pd.NA)
Car_raw.isnull().sum()

Name                    0
Location                0
Price                1053
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                 175
Seats                  53
New_Price            6247
dtype: int64

In [253]:
#Car_raw['Mileage'] = Car_raw['Mileage'].replace('0.0 kmpl', pd.NA)
Car_raw.isnull().sum()
pd.set_option('display.max_rows', None)
power_value_counts = Car_raw['Power'].value_counts(dropna=False)
power_value_counts

74 bhp         280
98.6 bhp       166
73.9 bhp       152
140 bhp        142
<NA>           129
78.9 bhp       128
67.1 bhp       126
67.04 bhp      125
82 bhp         124
88.5 bhp       120
118 bhp        111
117.3 bhp      106
121.3 bhp      104
126.2 bhp       98
86.8 bhp        96
174.33 bhp      92
190 bhp         91
88.7 bhp        91
170 bhp         91
80 bhp          90
103.6 bhp       85
70 bhp          85
81.83 bhp       84
81.86 bhp       83
68 bhp          75
68.05 bhp       71
102 bhp         71
85.8 bhp        70
55.2 bhp        70
184 bhp         69
100 bhp         69
120 bhp         66
88.8 bhp        64
88.73 bhp       61
47.3 bhp        60
90 bhp          60
46.3 bhp        59
108.45 bhp      59
81.80 bhp       57
67 bhp          57
86.7 bhp        54
83.1 bhp        54
168.5 bhp       53
138.1 bhp       53
126.32 bhp      52
100.6 bhp       50
88.76 bhp       50
89.84 bhp       49
75 bhp          49
NaN             46
83.8 bhp        46
258 bhp         44
108.5 bhp       43
241.4 bhp       43
62.1 bhp        42
103.2 bhp       42
138.03 bhp      39
187.7 bhp       39
147.51 bhp      36
91.1 bhp        36
171 bhp         35
103.5 bhp       33
103.52 bhp      33
110 bhp         33
181 bhp         32
105 bhp         32
53.3 bhp        31
73.75 bhp       30
204 bhp         29
136 bhp         29
116.3 bhp       29
130 bhp         29
167.62 bhp      28
93.7 bhp        27
73.94 bhp       27
112 bhp         26
171.5 bhp       26
147.8 bhp       26
85.80 bhp       26
187.74 bhp      25
71 bhp          25
157.75 bhp      24
62 bhp          23
203 bhp         23
94 bhp          22
177 bhp         22
66.1 bhp        22
141 bhp         22
84.8 bhp        22
174.5 bhp       21
78 bhp          21
73 bhp          21
79.4 bhp        21
69 bhp          20
63.1 bhp        20
174.3 bhp       19
35 bhp          19
73.97 bhp       18
177.6 bhp       18
64 bhp          18
57.6 bhp        18
99 bhp          18
194.3 bhp       17
37.48 bhp       17
84 bhp          17
175.56 bhp      16
98.59 bhp       16
125 bhp         16
83.14 bhp       16
153.86 bhp      16
60 bhp          15
37 bhp          15
215 bhp         15
82.85 bhp       14
88.2 bhp        14
147.9 bhp       14
110.4 bhp       14
163.7 bhp       14
186 bhp         14
218 bhp         14
270.9 bhp       14
152 bhp         14
245 bhp         13
107.3 bhp       13
58.2 bhp        13
58.16 bhp       13
87.2 bhp        12
103.3 bhp       12
126.24 bhp      12
126.3 bhp       12
88.50 bhp       12
143 bhp         11
85 bhp          11
69.01 bhp       11
63 bhp          11
65 bhp          11
165 bhp         11
157.7 bhp       11
66 bhp          11
224 bhp         11
138 bhp         11
98.96 bhp       11
67.06 bhp       10
254.8 bhp       10
197 bhp         10
113.98 bhp      10
169 bhp         10
198.5 bhp       10
120.7 bhp       10
150 bhp         10
177.46 bhp      10
201.1 bhp       10
142 bhp         10
254.79 bhp       9
34.2 bhp         9
210 bhp          9
201.15 bhp       9
88 bhp           9
77 bhp           9
180 bhp          9
37.5 bhp         9
121.4 bhp        9
235 bhp          9
102.5 bhp        9
107.2 bhp        9
132 bhp          8
83 bhp           8
179.5 bhp        8
99.6 bhp         8
160 bhp          8
104.68 bhp       8
82.9 bhp         8
115 bhp          8
97.7 bhp         8
140.8 bhp        8
63.12 bhp        8
123.24 bhp       8
106 bhp          8
76.8 bhp         8
47 bhp           7
167.6 bhp        7
154 bhp          7
130.2 bhp        7
203.2 bhp        7
92.7 bhp         7
183 bhp          7
121.36 bhp       7
178 bhp          7
56.3 bhp         7
189.08 bhp       7
123.7 bhp        6
167.7 bhp        6
147.5 bhp        6
74.9 bhp         6
241.38 bhp       6
53.64 bhp        6
255 bhp          6
158 bhp          6
313 bhp          6
75.94 bhp        6
265 bhp          6
272 bhp          6
76 bhp           6
108.62 bhp       6
157.8 bhp        6
335.2 bhp        6
108.4 bhp        6
306 bhp          6
134 bhp          5
241 bhp          5
103.25 bhp       5
158.2 bhp        5
91.72 bhp        5
300 bhp          5
194 bhp          5
148 bhp          5
282 bhp          5
149.92 bhp       5
197.2 bhp        5
141.1 bhp        5
53.5 bhp         4
91.7 bhp         4
224.34 bhp       4
73.8 bhp         4
164.7 bhp        4
64.1 bhp         4
168.7 bhp        4
55 bhp           4
40.3 bhp         4
82.5 bhp         4
364.9 bhp        4
200 bhp          4
101 bhp          4
185 bhp          4
208 bhp          4
73.74 bhp        4
163.5 bhp        4
118.3 bhp        4
67.05 bhp        4
70.02 bhp        3
94.68 bhp        3
80.46 bhp        3
163.2 bhp        3
105.5 bhp        3
162 bhp          3
82.4 bhp         3
261.49 bhp       3
91.2 bhp         3
158.8 bhp        3
97.6 bhp         3
86.76 bhp        3
240 bhp          3
108.495 bhp      3
138.08 bhp       3
450 bhp          3
308 bhp          3
108.49 bhp       3
98.82 bhp        3
362.07 bhp       3
116.6 bhp        3
178.4 bhp        3
246.7 bhp        3
123.37 bhp       3
191.34 bhp       3
64.08 bhp        3
246.74 bhp       3
66.7 bhp         3
92 bhp           3
181.03 bhp       3
57.5 bhp         3
177.5 bhp        3
198.25 bhp       3
86.79 bhp        3
147.6 bhp        3
83.83 bhp        2
48.21 bhp        2
52.8 bhp         2
193.1 bhp        2
139.01 bhp       2
118.6 bhp        2
130.3 bhp        2
308.43 bhp       2
53 bhp           2
335.3 bhp        2
262.6 bhp        2
175.67 bhp       2
163 bhp          2
127 bhp          2
85.7 bhp         2
76.9 bhp         2
116.4 bhp        2
103 bhp          2
394.3 bhp        2
138.13 bhp       2
147.4 bhp        2
144 bhp          2
61 bhp           2
58.33 bhp        2
189 bhp          2
271.23 bhp       2
112.2 bhp        2
65.3 bhp         2
122 bhp          2
93 bhp           2
444 bhp          2
177.01 bhp       2
104 bhp          2
38.4 bhp         2
192 bhp          2
236 bhp          2
155 bhp          2
148.31 bhp       2
250 bhp          2
98.79 bhp        2
207.8 bhp        2
138.02 bhp       2
187.4 bhp        2
55.23 bhp        2
114 bhp          2
320 bhp          2
321 bhp          2
102.53 bhp       2
102.57 bhp       2
503 bhp          1
367 bhp          1
74.93 bhp        1
382 bhp          1
83.11 bhp        1
168 bhp          1
74.96 bhp        1
552 bhp          1
139.07 bhp       1
161.6 bhp        1
560 bhp          1
156 bhp          1
360 bhp          1
98.63 bhp        1
328.5 bhp        1
227 bhp          1
252 bhp          1
120.69 bhp       1
161 bhp          1
245.41 bhp       1
182.46 bhp       1
170.30 bhp       1
616 bhp          1
78.8 bhp         1
181.04 bhp       1
362.9 bhp        1
488.1 bhp        1
281.61 bhp       1
500 bhp          1
387.3 bhp        1
174.57 bhp       1
120.33 bhp       1
340 bhp          1
270.88 bhp       1
80.9 bhp         1
68.1 bhp         1
301.73 bhp       1
254 bhp          1
114.4 bhp        1
112.4 bhp        1
116.9 bhp        1
201 bhp          1
550 bhp          1
152.88 bhp       1
199.3 bhp        1
231.1 bhp        1
333 bhp          1
89.75 bhp        1
237.4 bhp        1
421 bhp          1
181.43 bhp       1
395 bhp          1
41 bhp           1
95 bhp           1
110.5 bhp        1
261.5 bhp        1
35.5 bhp         1
226.6 bhp        1
135.1 bhp        1
271.72 bhp       1
71.01 bhp        1
261 bhp          1
402 bhp          1
241.6 bhp        1
Name: Power, dtype: int64

In [255]:
def fill_missing_values(df, column):
    return df[column].fillna(df.groupby('Name')[column].transform('first'))

# 결측치 대체 수행
Car_raw['Mileage'] = fill_missing_values(Car_raw, 'Mileage')
Car_raw['Power'] = fill_missing_values(Car_raw, 'Power')
Car_raw['Engine'] = fill_missing_values(Car_raw, 'Engine')
Car_raw['Seats'] = fill_missing_values(Car_raw, 'Seats')
Car_raw.isnull().sum()
pd.set_option('display.max_rows', None)
power_value_counts = Car_raw['Power'].value_counts(dropna=False)
power_value_counts

74 bhp         292
98.6 bhp       166
73.9 bhp       152
140 bhp        142
None           136
78.9 bhp       134
67.04 bhp      133
67.1 bhp       126
82 bhp         124
88.5 bhp       120
118 bhp        111
117.3 bhp      106
121.3 bhp      104
126.2 bhp       98
86.8 bhp        96
174.33 bhp      92
170 bhp         91
190 bhp         91
88.7 bhp        91
80 bhp          90
103.6 bhp       85
70 bhp          85
81.83 bhp       84
81.86 bhp       83
68 bhp          75
100 bhp         72
102 bhp         71
68.05 bhp       71
55.2 bhp        70
85.8 bhp        70
184 bhp         69
120 bhp         66
88.8 bhp        65
88.73 bhp       61
90 bhp          60
47.3 bhp        60
108.45 bhp      59
46.3 bhp        59
81.80 bhp       57
67 bhp          57
83.1 bhp        54
86.7 bhp        54
138.1 bhp       53
168.5 bhp       53
126.32 bhp      52
88.76 bhp       50
100.6 bhp       50
75 bhp          49
89.84 bhp       49
83.8 bhp        46
258 bhp         44
62.1 bhp        43
241.4 bhp       43
108.5 bhp       43
103.2 bhp       42
187.7 bhp       39
138.03 bhp      39
91.1 bhp        36
147.51 bhp      36
171 bhp         35
103.52 bhp      33
103.5 bhp       33
110 bhp         33
181 bhp         32
105 bhp         32
53.3 bhp        31
73.75 bhp       30
130 bhp         29
204 bhp         29
136 bhp         29
116.3 bhp       29
167.62 bhp      28
93.7 bhp        27
73.94 bhp       27
85.80 bhp       26
147.8 bhp       26
171.5 bhp       26
112 bhp         26
71 bhp          25
187.74 bhp      25
157.75 bhp      24
203 bhp         23
62 bhp          23
177 bhp         22
66.1 bhp        22
84.8 bhp        22
94 bhp          22
141 bhp         22
73 bhp          21
78 bhp          21
174.5 bhp       21
79.4 bhp        21
69 bhp          20
63.1 bhp        20
174.3 bhp       19
35 bhp          19
99 bhp          18
177.6 bhp       18
73.97 bhp       18
64 bhp          18
57.6 bhp        18
194.3 bhp       17
37.48 bhp       17
84 bhp          17
125 bhp         16
98.59 bhp       16
175.56 bhp      16
153.86 bhp      16
83.14 bhp       16
37 bhp          15
215 bhp         15
60 bhp          15
88.2 bhp        14
110.4 bhp       14
147.9 bhp       14
218 bhp         14
152 bhp         14
186 bhp         14
163.7 bhp       14
270.9 bhp       14
82.85 bhp       14
58.2 bhp        13
107.3 bhp       13
245 bhp         13
58.16 bhp       13
87.2 bhp        12
88.50 bhp       12
103.3 bhp       12
126.3 bhp       12
126.24 bhp      12
67.05 bhp       12
143 bhp         11
224 bhp         11
65 bhp          11
165 bhp         11
63 bhp          11
66 bhp          11
85 bhp          11
69.01 bhp       11
138 bhp         11
98.96 bhp       11
157.7 bhp       11
150 bhp         10
197 bhp         10
169 bhp         10
142 bhp         10
113.98 bhp      10
177.46 bhp      10
67.06 bhp       10
254.8 bhp       10
120.7 bhp       10
198.5 bhp       10
201.1 bhp       10
107.2 bhp        9
254.79 bhp       9
37.5 bhp         9
210 bhp          9
88 bhp           9
102.5 bhp        9
201.15 bhp       9
77 bhp           9
121.4 bhp        9
235 bhp          9
34.2 bhp         9
180 bhp          9
106 bhp          8
63.12 bhp        8
132 bhp          8
97.7 bhp         8
99.6 bhp         8
160 bhp          8
140.8 bhp        8
123.24 bhp       8
76.8 bhp         8
179.5 bhp        8
83 bhp           8
104.68 bhp       8
82.9 bhp         8
115 bhp          8
92.7 bhp         7
167.6 bhp        7
121.36 bhp       7
178 bhp          7
130.2 bhp        7
56.3 bhp         7
189.08 bhp       7
154 bhp          7
47 bhp           7
203.2 bhp        7
183 bhp          7
108.4 bhp        6
75.94 bhp        6
272 bhp          6
241.38 bhp       6
313 bhp          6
76 bhp           6
53.64 bhp        6
74.9 bhp         6
167.7 bhp        6
306 bhp          6
265 bhp          6
158 bhp          6
255 bhp          6
335.2 bhp        6
123.7 bhp        6
157.8 bhp        6
147.5 bhp        6
108.62 bhp       6
141.1 bhp        5
158.2 bhp        5
149.92 bhp       5
241 bhp          5
194 bhp          5
148 bhp          5
300 bhp          5
134 bhp          5
282 bhp          5
197.2 bhp        5
103.25 bhp       5
91.72 bhp        5
168.7 bhp        4
40.3 bhp         4
101 bhp          4
73.74 bhp        4
208 bhp          4
224.34 bhp       4
91.7 bhp         4
200 bhp          4
55 bhp           4
185 bhp          4
163.5 bhp        4
118.3 bhp        4
164.7 bhp        4
73.8 bhp         4
64.1 bhp         4
53.5 bhp         4
364.9 bhp        4
82.5 bhp         4
181.03 bhp       3
80.46 bhp        3
123.37 bhp       3
191.34 bhp       3
64.08 bhp        3
92 bhp           3
261.49 bhp       3
70.02 bhp        3
91.2 bhp         3
138.08 bhp       3
147.6 bhp        3
105.5 bhp        3
198.25 bhp       3
97.6 bhp         3
246.74 bhp       3
240 bhp          3
82.4 bhp         3
362.07 bhp       3
108.49 bhp       3
162 bhp          3
86.76 bhp        3
308 bhp          3
57.5 bhp         3
108.495 bhp      3
158.8 bhp        3
450 bhp          3
94.68 bhp        3
177.5 bhp        3
86.79 bhp        3
163.2 bhp        3
178.4 bhp        3
98.82 bhp        3
66.7 bhp         3
116.6 bhp        3
246.7 bhp        3
83.83 bhp        2
76.9 bhp         2
444 bhp          2
262.6 bhp        2
163 bhp          2
112.2 bhp        2
394.3 bhp        2
52.8 bhp         2
147.4 bhp        2
138.13 bhp       2
103 bhp          2
116.4 bhp        2
127 bhp          2
177.01 bhp       2
139.01 bhp       2
130.3 bhp        2
335.3 bhp        2
48.21 bhp        2
193.1 bhp        2
53 bhp           2
175.67 bhp       2
308.43 bhp       2
144 bhp          2
61 bhp           2
118.6 bhp        2
58.33 bhp        2
85.7 bhp         2
189 bhp          2
250 bhp          2
148.31 bhp       2
98.79 bhp        2
236 bhp          2
114 bhp          2
104 bhp          2
187.4 bhp        2
102.53 bhp       2
207.8 bhp        2
93 bhp           2
65.3 bhp         2
321 bhp          2
155 bhp          2
38.4 bhp         2
102.57 bhp       2
138.02 bhp       2
271.23 bhp       2
192 bhp          2
55.23 bhp        2
122 bhp          2
320 bhp          2
112.4 bhp        1
74.96 bhp        1
237.4 bhp        1
560 bhp          1
362.9 bhp        1
552 bhp          1
74.93 bhp        1
382 bhp          1
83.11 bhp        1
139.07 bhp       1
227 bhp          1
168 bhp          1
503 bhp          1
161.6 bhp        1
488.1 bhp        1
35.5 bhp         1
95 bhp           1
181.04 bhp       1
78.8 bhp         1
616 bhp          1
170.30 bhp       1
182.46 bhp       1
245.41 bhp       1
161 bhp          1
120.69 bhp       1
252 bhp          1
226.6 bhp        1
328.5 bhp        1
98.63 bhp        1
360 bhp          1
201 bhp          1
181.43 bhp       1
152.88 bhp       1
281.61 bhp       1
340 bhp          1
120.33 bhp       1
254 bhp          1
231.1 bhp        1
80.9 bhp         1
333 bhp          1
367 bhp          1
402 bhp          1
261 bhp          1
116.9 bhp        1
68.1 bhp         1
71.01 bhp        1
271.72 bhp       1
301.73 bhp       1
135.1 bhp        1
174.57 bhp       1
261.5 bhp        1
270.88 bhp       1
550 bhp          1
110.5 bhp        1
199.3 bhp        1
156 bhp          1
41 bhp           1
395 bhp          1
114.4 bhp        1
421 bhp          1
89.75 bhp        1
387.3 bhp        1
500 bhp          1
241.6 bhp        1
Name: Power, dtype: int64

In [205]:
Car_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Price              6200 non-null   float64
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7213 non-null   object
 10  Power              7213 non-null   object
 11  Seats              7207 non-null   float64
 12  New_Price          1006 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 736.8+ KB

In [206]:
Car_raw.isnull().sum()

Name                    0
Location                0
Price                1053
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 40
Power                  40
Seats                  46
New_Price            6247
dtype: int64

In [207]:
Car_raw['Name'] = Car_raw['Name'].str.upper()
Car_raw['BRAND'] = Car_raw['Name'].str.split(' ', 1).str[0]  # 첫 단어를 브랜드로
Car_raw['MODEL'] = Car_raw['Name'].str.split(' ', 1).str[1]  # 나머지를 모델명으로
Car_raw

/tmp/ipykernel_21955/460010808.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  Car_raw['BRAND'] = Car_raw['Name'].str.split(' ', 1).str[0]  # 첫 단어를 브랜드로
/tmp/ipykernel_21955/460010808.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  Car_raw['MODEL'] = Car_raw['Name'].str.split(' ', 1).str[1]  # 나머지를 모델명으로

,Name,Location,Price,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,BRAND,MODEL
0,MARUTI WAGON R LXI CNG,Mumbai,2682.68,2010,72000,CNG,Manual,First,26.6 kmpl,998 CC,58.16 bhp,5.0,NaN,MARUTI,WAGON R LXI CNG
1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,19162.00,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,HYUNDAI,CRETA 1.6 CRDI SX OPTION
2,HONDA JAZZ V,Chennai,6898.32,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,HONDA,JAZZ V
3,MARUTI ERTIGA VDI,Chennai,9197.76,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,MARUTI,ERTIGA VDI
4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,27194.71,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,AUDI,A4 NEW 2.0 TDI MULTITRONIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,VOLKSWAGEN VENTO DIESEL TRENDLINE,Hyderabad,NaN,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,VOLKSWAGEN,VENTO DIESEL TRENDLINE
7249,VOLKSWAGEN POLO GT TSI,Mumbai,NaN,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,VOLKSWAGEN,POLO GT TSI
7250,NISSAN MICRA DIESEL XV,Kolkata,NaN,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NISSAN,MICRA DIESEL XV
7251,VOLKSWAGEN POLO GT TSI,Pune,NaN,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,VOLKSWAGEN,POLO GT TSI
7252,MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...,Kochi,NaN,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,MERCEDES-BENZ,E-CLASS 2009-2013 E 220 CDI AVANTGARDE

In [208]:
Car_raw = Car_raw.sort_values(by='Name')

In [209]:
# 주행거리 기준으로 등급 분류 함수 정의
def classify_kilometers(km):
    if km <= 20000:
        return 1
    elif 20000 < km <= 40000:
        return 2
    elif 40000 < km <= 60000:
        return 3
    elif 60000 < km <= 80000:
        return 4
    elif 80000 < km <= 100000:
        return 5
    else:
        return 6

# 등급 분류 열 추가
Car_raw['Kilometer_Range_Grade'] = Car_raw['Kilometers_Driven'].apply(classify_kilometers)

In [210]:
grouped_median = Car_raw.groupby(['Name', 'Kilometer_Range_Grade'])['Price'].transform('median')
Car_raw['Price'] = Car_raw['Price'].where(Car_raw['Price'].notna(), grouped_median)

Car_raw.isnull().sum()

Name                        0
Location                    0
Price                     361
Year                        0
Kilometers_Driven           0
Fuel_Type                   0
Transmission                0
Owner_Type                  0
Mileage                     2
Engine                     40
Power                      40
Seats                      46
New_Price                6247
BRAND                       0
MODEL                       0
Kilometer_Range_Grade       0
dtype: int64

In [211]:
# 'Price' 열에 NaN이 있는 행만 삭제 
Car_raw = Car_raw.dropna(subset=['Price'])
# 결과 확인
Car_raw.isnull().sum()

Name                        0
Location                    0
Price                       0
Year                        0
Kilometers_Driven           0
Fuel_Type                   0
Transmission                0
Owner_Type                  0
Mileage                     2
Engine                     34
Power                      34
Seats                      39
New_Price                5886
BRAND                       0
MODEL                       0
Kilometer_Range_Grade       0
dtype: int64

In [212]:
Car_raw=Car_raw.dropna(subset=['Engine','Power'])
Car_raw.isnull().sum()

Name                        0
Location                    0
Price                       0
Year                        0
Kilometers_Driven           0
Fuel_Type                   0
Transmission                0
Owner_Type                  0
Mileage                     2
Engine                      0
Power                       0
Seats                       5
New_Price                5852
BRAND                       0
MODEL                       0
Kilometer_Range_Grade       0
dtype: int64

In [213]:
Car_raw = Car_raw.drop(columns=['New_Price'])
Car_raw.isnull().sum()

Name                     0
Location                 0
Price                    0
Year                     0
Kilometers_Driven        0
Fuel_Type                0
Transmission             0
Owner_Type               0
Mileage                  2
Engine                   0
Power                    0
Seats                    5
BRAND                    0
MODEL                    0
Kilometer_Range_Grade    0
dtype: int64

In [214]:
# 'Fuel_Type' 열이 'Electric'인 행 삭제
Car_raw =  Car_raw.dropna(subset=['Mileage'])
Car_raw.isnull().sum()

Name                     0
Location                 0
Price                    0
Year                     0
Kilometers_Driven        0
Fuel_Type                0
Transmission             0
Owner_Type               0
Mileage                  0
Engine                   0
Power                    0
Seats                    5
BRAND                    0
MODEL                    0
Kilometer_Range_Grade    0
dtype: int64

In [215]:
Car_raw.to_csv("Preprocessed_Car.csv")
Car_raw.count()

Name                     6856
Location                 6856
Price                    6856
Year                     6856
Kilometers_Driven        6856
Fuel_Type                6856
Transmission             6856
Owner_Type               6856
Mileage                  6856
Engine                   6856
Power                    6856
Seats                    6851
BRAND                    6856
MODEL                    6856
Kilometer_Range_Grade    6856
dtype: int64

In [220]:
Car_raw['Mileage'] = Car_raw['Mileage'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
Car_raw['Engine'] = Car_raw['Engine'].astype(str).str.extract(r'(\d+\.?\d*)').astype(int)
Car_raw['Power'] = Car_raw['Power'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)

Car_raw.head()

,Name,Location,Price,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,BRAND,MODEL,Kilometer_Range_Grade
1221,AMBASSADOR CLASSIC NOVA DIESEL,Chennai,2069.50,2003,80000,Diesel,Manual,Third,12.80,1489,35.5,5.0,AMBASSADOR,CLASSIC NOVA DIESEL,4
398,AUDI A3 35 TDI ATTRACTION,Chennai,25293.84,2014,79271,Diesel,Automatic,First,20.38,1968,143.0,5.0,AUDI,A3 35 TDI ATTRACTION,4
4782,AUDI A3 35 TDI PREMIUM,Mumbai,29509.48,2016,20003,Diesel,Automatic,First,20.38,1968,143.0,5.0,AUDI,A3 35 TDI PREMIUM,2
4989,AUDI A3 35 TDI PREMIUM PLUS,Mumbai,28972.94,2016,39000,Diesel,Automatic,First,20.38,1968,143.0,5.0,AUDI,A3 35 TDI PREMIUM PLUS,2
1954,AUDI A3 35 TDI TECHNOLOGY,Delhi,34491.60,2017,22000,Diesel,Automatic,Second,20.38,1968,143.0,5.0,AUDI,A3 35 TDI TECHNOLOGY,2

In [222]:
mileage_zero = Car_raw[Car_raw['Mileage'] == 0]

# 결과 출력
print(mileage_zero)

                                      Name   Location     Price  Year  \
3093           AUDI A7 2011-2015 SPORTBACK    Kolkata  42922.88  2012
4629                    FIAT SIENA 1.2 ELX     Jaipur    843.13  2001
229                       FORD FIGO DIESEL  Bangalore   5518.66  2015
5270                    HONDA CITY 1.5 GXI  Bangalore   2835.98  2002
194                     HONDA CITY 1.5 GXI  Ahmedabad   4522.23  2007
...                                    ...        ...       ...   ...
6011               SKODA SUPERB 3.6 V6 FSI  Hyderabad   7281.56  2009
915                    SMART FORTWO CDI AT       Pune   4598.88  2008
5647                TOYOTA QUALIS FLEET A3     Mumbai   3372.51  2001
2267                   TOYOTA QUALIS RS E2       Pune   5365.36  2004
424   VOLKSWAGEN JETTA 2007-2011 1.9 L TDI  Hyderabad   8354.63  2010

      Kilometers_Driven Fuel_Type Transmission      Owner_Type  Mileage  \
3093              24720    Diesel    Automatic          Second      0.0
4629              70000    Petrol       Manual           Third      0.0
229               70436    Diesel       Manual           First      0.0
5270              53000    Petrol       Manual          Second      0.0
194               60006    Petrol       Manual           First      0.0
...                 ...       ...          ...             ...      ...
6011              53000    Petrol    Automatic           First      0.0
915              103000    Diesel    Automatic          Second      0.0
5647             227000    Diesel       Manual  Fourth & Above      0.0
2267             215750    Diesel       Manual          Second      0.0
424               42021    Diesel       Manual           First      0.0

      Engine  Power  Seats       BRAND                      MODEL  \
3093    2967  241.4    5.0        AUDI     A7 2011-2015 SPORTBACK
4629    1242    NaN    5.0        FIAT              SIENA 1.2 ELX
229     1498   99.0    NaN        FORD                FIGO DIESEL
5270    1493  100.0    5.0       HONDA               CITY 1.5 GXI
194     1493  100.0    5.0       HONDA               CITY 1.5 GXI
...      ...    ...    ...         ...                        ...
6011    3597  262.6    5.0       SKODA          SUPERB 3.6 V6 FSI
915      799    NaN    2.0       SMART              FORTWO CDI AT
5647    2446    NaN    8.0      TOYOTA            QUALIS FLEET A3
2267    2446    NaN   10.0      TOYOTA               QUALIS RS E2
424     1968    NaN    5.0  VOLKSWAGEN  JETTA 2007-2011 1.9 L TDI

      Kilometer_Range_Grade
3093                      2
4629                      4
229                       4
5270                      3
194                       4
...                     ...
6011                      3
915                       6
5647                      6
2267                      6
424                       3

[70 rows x 15 columns]

In [224]:
Car_raw.isnull().sum()

Name                       0
Location                   0
Price                      0
Year                       0
Kilometers_Driven          0
Fuel_Type                  0
Transmission               0
Owner_Type                 0
Mileage                    0
Engine                     0
Power                    118
Seats                      5
BRAND                      0
MODEL                      0
Kilometer_Range_Grade      0
dtype: int64

In [219]:
Car_raw.to_csv("Preprocessed_Car.csv")